@import "../../_base.scss";
// .watchScreen_video{
//     height: 60vh;
//     background-color:#353946;
//     width: 100%;
//     margin-bottom: 2rem;
// }
.watch-video-container {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    .left{
        margin-left: 3px;
        width: 71%;
        position: relative;
        .watchScreen_video{
            width: 100%;
            height: 480px;
            padding: 15px 0;
            iframe {
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }
        }
    }
    .right{
        width: 35%;
        margin-left: 20px;
    }
}